

##                                                                            WEEk 1



                                                                           Roshan Marasini
                                                                    PRG 330: Python Programming
                                                                        Prof. TekRaj Pant
                                                                 Westcliff University, California
                                                                            October 10,2024

##                                                                           Python
Intoduction
1. We will start the coding by simply printing Hello word
2. Printing an integer
3. We will learn about numbers.
4. We will use the len counts in numbers and characters
5. We will use if elif and else command
6. We will find a number odd or even
7. We will use lower() syntax to lowercass all the character
8. We will use while loop to print a name for ten times
9. we will use while loop to add first hundred natural numbers
10. We will use while loop to reverse a word
11. We will learn to use append, pop, remove, insert, extend and clear
12. We will use while loop in list

In Week 1 of PRG 330: In this lesson of Python Programming, we learned what Python is and where it originated from, then write our first Python program; the “Hello World” program, and practice with Python variable types such as integers, strings and complex numbers. The decision making structures like if, elif and else were also discussed in details, for instance, determining if numbers are odd or even and ticketing conditions were also discussed. By employing while loops, we made things like writing a list of names, adding some numbers, reversing strings, and others go mechanical. We were introduced to list operations which include appending, popping , removing, inserting, extending and clearing vectors.Elements of list comprehensions were also covered where we used filter to get through even numbers. These concepts build the base for us to level up in Python with adequate knowledge of some basic structures in programming.

## Print hello world

In [4]:
hello="hello world"
print(hello)
pie = 3.14
b= 10

hello world

## Print pie

In [3]:
pie = 3.14
print(pie)

3.14

## Print which type of variable it is

In [5]:
age = 30
price = 1.2
real= 1j
print(type(real))

<class 'complex'>

## Print first name and last name

In [14]:
n='roshan marasini'
t=len(n)
print(t)
f=n[0] #1st char
l=n[len(n)-1] #last Character
print (f,l)
firstname=n[0:6]
lastname=n[7:16]
print (firstname,lastname)

15
r i
roshan marasini

## Input a number and check the age is correct or not

In [14]:
age = int(input('Enter my age'))
if age== 21:
    print("you are correct")
elif age== 20 or age ==22:
    print("you are close")
else:
    print("you are wrong")

you are wrong

## Check Whether a number is odd or Even

In [25]:
num=int(input('enter any number'))
r = num % 2
if r ==0:
    print("even")
else:
    print("odd")

even

## Input the current time and check the class

In [36]:
time = int(input('Enter my time'))
if time >=10 and time <12 :
    print("Python")
elif time >=12 and time <14:
    print("DSA") 
elif time >=14 and time <16:
    print("english")
else:
    print("no class")

no class

## Input a contry name and check the ticket price

In [43]:
country = input('Enter your country')

if country.lower()== "nepal" or country.lower()== "india" :
    print(" ticket is 50 ")
else:
    print("ticket is 100")

 ticket is 50

## Print a name for 10 times

In [47]:

COUNTER =0
while COUNTER <=10:
    print("roshan Marasini")
    print (COUNTER)
    print(f"roshan {COUNTER}")
    COUNTER +=1

roshan Marasini
0
roshan0
roshan Marasini
1
roshan1
roshan Marasini
2
roshan2
roshan Marasini
3
roshan3
roshan Marasini
4
roshan4
roshan Marasini
5
roshan5
roshan Marasini
6
roshan6
roshan Marasini
7
roshan7
roshan Marasini
8
roshan8
roshan Marasini
9
roshan9
roshan Marasini
10
roshan10

## Print a name for 10 times but counter starts from 10 and ends at 0

In [48]:

COUNTER =10
while COUNTER >=0:
    print("roshan Marasini")
    print (COUNTER)
    print("roshan" + str(COUNTER))
    COUNTER -=1

roshan Marasini
10
roshan10
roshan Marasini
9
roshan9
roshan Marasini
8
roshan8
roshan Marasini
7
roshan7
roshan Marasini
6
roshan6
roshan Marasini
5
roshan5
roshan Marasini
4
roshan4
roshan Marasini
3
roshan3
roshan Marasini
2
roshan2
roshan Marasini
1
roshan1
roshan Marasini
0
roshan0

## Print first 100 numbers and print the sum of the numbers

In [63]:
n=100
r= 0
COUNTER = 1
while COUNTER<=n:
    print (COUNTER)
    r+=COUNTER
    COUNTER +=1
print(r)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050

## Print the sum of the first two hundred even numbers

In [65]:
n=200
r= 0
COUNTER = 1
while COUNTER<=n:
    if COUNTER%2==0:
       r+=COUNTER 
    COUNTER +=1
print(r)

10100

## Print a inputed word into reverse

In [1]:
address="Purano Naikap"
length = len(address)-1
reversed_string=""
print(length)
while length>=0:
    reversed_string=reversed_string+address[length]
    length-=1
print(reversed_string)

12
pakiaN onaruP

## Print the firstelement and total items and the last element of a list

In [2]:
numbers=[1,2,3,4,5,6,6]
students=["Roshan","Rishav"]
firstnumber=numbers[0]
print(firstnumber)
totalitems=len(numbers)
print(totalitems)
lastelement=numbers[totalitems-1]
print(lastelement)

1
7
6

## Enter a list and append, pop, remove, insert, extend and clear

In [13]:
numbers=[1,2,3,4,5,6,7,8,99,9]
numbers.append(8)
print(numbers)
numbers.pop()
print(numbers)
numbers.remove(5)
print(numbers)
numbers.insert(2,10)
print(numbers)
print(numbers.count(1))
number1=[1,2]
number2=[3,4]
number1.extend(number2)
print(number1)
number1.clear()
print(number1)

[1, 2, 3, 4, 5, 6, 7, 8, 99, 9, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 99, 9]
[1, 2, 3, 4, 6, 7, 8, 99, 9]
[1, 2, 10, 3, 4, 6, 7, 8, 99, 9]
1
[1, 2, 3, 4]
[]

## Use copy and append in a string

In [16]:
a=25
b=a
a=a+3
print(a,b)
a=['roshan','rishav','bishnu',"sarita"]
b=a.copy()
a.append('xyz')
print (a,b)
if "roshan" in a:
    print('roshan exist in a')

28 25
['roshan', 'rishav', 'bishnu', 'sarita', 'xyz'] ['roshan', 'rishav', 'bishnu', 'sarita']
roshan exist in a

## Using a while loop find a sum in a list

In [27]:
numbers=[1,2,3,4,5,6,6]
totalitems=len(numbers)
index=0
sum=0
while index<totalitems:
    sum+=numbers[index]
    print (numbers[index])
    index+=1
print(sum)

1
2
3
4
5
6
6
27

## Print the largest value in a list

In [31]:
numbers=[1,2,3,4,5,6,6]
totalitems=len(numbers)
index=0
maxvalue=numbers[0]
while index<totalitems:
    if maxvalue<numbers[index]:
        maxvalue=numbers[index]
    index+=1
print(maxvalue)

6

## Print the lowest value in a list

In [32]:
numbers=[1,2,3,4,5,6,6]
totalitems=len(numbers)
index=0
maxvalue=numbers[0]
while index<totalitems:
    if maxvalue>numbers[index]:
        maxvalue=numbers[index]
    index+=1
print(maxvalue)

1

# Print the list after removing "ram"

In [40]:
students=["ram",'hari','gita']
filterdstudents=[i for i in students if i !="ram"]
print(filterdstudents)

['hari', 'gita']

## Print the even numbers from the list

In [41]:
numbers=[1,2,3,4,5,6,7,8,9,10]
evenonly=[i for i in numbers if i %2==0]
print(evenonly)

[2, 4, 6, 8, 10]